{% extends 'ranbo/base.html' %}

{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="col-md-9">
    {% if thoughts %}
        {% for thought in thoughts %}
            <div class="row my-2">
                <div class="col-md-12">
                    <div class="media my-1">
                        <img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
                        <div class="media-body">
                            <h5 class="mt-0">
                                {{ thought.user.username }}
                            </h5> {{ thought.content }}
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-md-4">
                            <img src="{% static "images/comments.svg" %}"> (0)
                        </div>
                        <div class="col-md-4">
                            <img src="{% static "images/likes.svg" %}"> ({{ thought.like_times }})
                        </div>
                        <div class="col-md-4">
                            <img src="{% static "images/views.svg" %}"> ({{ thought.view_times }})
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <li><strong>There are no thoughts present.</strong></li>
    {%endif%}

</div>
<div class="col-md-3">
    <button type="button" class="btn btn-block btn-outline-secondary">
        Sort by time
    </button>
    <button type="button" class="btn btn-block btn-outline-secondary">
        Sort by likes
    </button>
    <button type="button" class="btn btn-block btn-outline-secondary">
        Sort by views
    </button>
    <button type="button" class="btn btn-block btn-outline-secondary">
        Sort by popularity
    </button>
    <hr />
    {% if user.is_authenticated %}
        <label>Last login time: </label>
        <a href="{% url 'ranbo:add_thought' %}">
            <button type="button" class="btn btn-block btn-outline-info">
               Post new thought
            </button>
        </a>
    {% else %}
        <a href="{% url 'ranbo:login' %}">
            <label>Login to read more thoughts</label>
        </a>
    {% endif %}
</div>
{% endblock %}