{% extends 'ranbo/base.html' %}

{% load staticfiles %}

{% block title_block %}
    User Profile
{% endblock %}

{% block body_block %}
<div class="col-md-3">
    <div class="row my-3">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="{% static "images/default-avatar.svg" %}" />
        </div>
        <div class="col-md-8">
        </div>
    </div>
<!--    <img alt="Bootstrap Image Preview" src="{% static "images/default-avatar.svg" %}" />-->
    <h4>
        Username
    </h4>
    <p>
        Total thoughts
    </p>
    <p>
        Total comments
    </p>
    <p>
        Total likes
    </p>
    <p>
        Total views
    </p>
</div>
<div class="col-md-9">
    <div class="row my-2">
        <div class="col-md-12">
            <div class="media my-1">
                <img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
                <div class="media-body">
                    <h5 class="mt-0">
                        Nested media heading
                    </h5> This is the twitter content.
                </div>
            </div>
            <div class="row my-1">
                <div class="col-md-4">
                    <img src="{% static "images/comments.svg" %}"> (2)
                </div>
                <div class="col-md-4">
                    <img src="{% static "images/likes.svg" %}"> (3)
                </div>
                <div class="col-md-4">
                    <img src="{% static "images/views.svg" %}"> (9)
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
