.bg-aero {
  background-color: #7cb9e8;
}

.bg-cadet-blue {
  background-color: #a9b2c3;
}

.bg-black-shadows {
  background-color: #bfafb2;
}

.color-transparent {
  background-color: transparent;
  color: transparent;
  filter: alpha(opacity=100,finishopacity=100,style=1)
}
